.App {
  text-align: center;
  background-color: #482c34;
  height: 100%;
  color: white;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  position: sticky;
  min-height: 8vh;
  max-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; 
  font-size: calc(10px + 2vmin);
  box-shadow: 0px 10px 200px black;

}

.Div-app-logo {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  height: 100%;
}

.Nav-app {
  width: 50%;
  height: 100%;
}

.Nav-app ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  margin: 0 0 0 0;
  list-style: none;
}

.Nav-app ul a {
  padding: 5% 5% 5% 5%;
  height: 100%;
  width: 100%;
  transition: 100ms;
}

.Nav-app ul a:hover {
  background-color: #A82c34;
  padding: 7% 5% 5% 5%;
  height: 100%;
  transition: 100ms;
}

.App-link {
  color: white;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Content {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}